<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/error.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <img id="img500" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2268b3d1-56c9-4011-afd2-bdbdb6fefbef/ddb3kmk-3b6b62c9-ce91-4dc7-bf0c-809678266524.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzIyNjhiM2QxLTU2YzktNDAxMS1hZmQyLWJkYmRiNmZlZmJlZlwvZGRiM2ttay0zYjZiNjJjOS1jZTkxLTRkYzctYmYwYy04MDk2NzgyNjY1MjQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.9gE1e968Upglc_tEtOQONt5digbeBoCKyhWPsw1Xlng" alt="Mechanic">
    <h1 class="msg500">Some error occurred!</h1>
    <h3 class="msg500">We're working on fixing this, sorry for the inconvenience!</h3>

<%- include('includes/end.ejs') %>