.orders {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Kaushan Script', cursive;
}

body {
  background-image: url(https://jooinn.com/images/blank-parchment-texture-4.jpg);
}

.orders__item h1 {
    margin: 0;
    font-size: 1rem;
    font-size: 20px;
}

.orders__item {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
  background-color: whitesmoke;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 20px;
}

.orders__products {
    list-style: none;
    margin: 0;
    padding: 0;
}

.orders__products-item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
    background-color: whitesmoke;
}
